*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.div-clear{
    clear:both;
}

.heading > h1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 65px;
}
.main-div{
    background-color:#1F1C2C;
    max-width: 100vw;
    
}
.sub1-main{
    max-width: 100%;
    padding: 40px 30px 100px 30px;
}
.logo{
    /* width: 99vw; */
    height: 100px;
}
.sub1-main-part1, .sub1-main-part2{
    width: 50%;
    float: left;
}
.heading{
    max-width: 100%;
}
.sub1-main-part2 > img{
    max-width: 100%;
    padding-left: 10px;
}
.icon-heading-align{
    float: left;
}
.floating{
    float: left;
}
.input-div > input{
    width: 100%;
    height: 60px;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    color:gray;
    /* background-color:#286EF1; */
}
.button-div > button{
    width: 100%;
    height: 60px;
    border: 1px solid #286EF1;
    border-radius: 15px;
    background-color:#286EF1;
    color:white;
    font-size: 20px;
}
.icon-text1, .icon-text2{
    border: 1px solid #28243A;
    border-radius: 50px;
    background-color: #28243A;
    padding: 0px 15px

}
.icon-heading{
    margin-left: 10px;
}
.icon-text2 {
    margin-left: 20px;
}

